.header{
  z-index: 0;
}
.up-elements{
    list-style-type: none;
   
    position: absolute;
   top: 1%;
   left: 0;
   font-size: 15px;
   font-family: Arial, sans-serif;
   width: auto;
   height: auto;
   flex-wrap: wrap;
   display: flex;
   
   line-height: 35px;
   min-width: 100%;
  }
  .up-elements:hover{

      color: #707070;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  a:focus{
    text-decoration: none;
    color: black;
  }

  #right-top{
    position:absolute;
        right: 0%;
       
  }
 
  li {
    display: inline;
  }
 
  

.bottom-elements{
   position: absolute;
   list-style-type: none;
   bottom: 0%;
   right: 0;
   left: auto;
   font-size: 15px;
   font-family: Arial, sans-serif;
   width: auto;
   height: auto;
   flex-wrap: wrap;
   display: flex;
   background: #f2f2f2;
   line-height: 20px;
   min-width: 100%;
   
   

  }

#left-bottom{
    position: relative;
    left: 0%;
    
}
#right-bottom{
    position: absolute;
    right: 2%;
    
    
}
main{
  display: block;
  margin: auto;
}
  
  img{
    
    display: block;
      padding: 180px;
      margin: auto;
      height: auto;
      width: auto;
      position: relative;
      top: -40px;
      
    }
.buttons{
  position: absolute;
  top: 340px;
  left: 32%;
}
    .button{
        background-color: #f5f5f5;
        border:none;
        color:#707070;
        font-size:15px;
        padding: 10px 20px;
        margin:9px;
        border-radius:4px;
        outline:none;
        position:relative;
        left: 42%;
        top: 37%;
        
        
    }
        

    .button:hover{
        border: 1px solid #c8c8c8;
        padding: 9px 19px;
        color:#808080;
      }
      
    .search{
        position: absolute;
        top: 33%;
        left: 37%;
        border-radius: 30px;
        height: 30px;
        font-size: 10px;
        width: 27%;
        border: 1px solid #dfe1e5;
        
        
    
    }
    #searchlogo{
      position: relative;
      left: 0;
      top: 4%;
    }

    
    .search:hover{
        box-shadow: 1px 1px 9px 1px #dcdcdc;
    }
    .search:focus-within{
        box-shadow: 1px 1px 9px 1px #dcdcdc;
        outline:none;
      }

     .searchbar{
        height: 12px;
        width: 400px;
       position: relative;
       top: -5px;
        left: 2%;
        border: none;
        margin-left: auto;
        margin-right: auto;
        font-size:16px;
        outline: none;
    }



.Sign-in{
  background-color: #1a73e8;
  width: 100px;
  height: 30px;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  right: 4%;
  position: relative;
  top: 5%;
}
#images{
  position: relative;
  right: 15%;
  top: 5%;
}
#material-icon{
position: relative;
right: 10%;
color: #707070 ;
}
#material-icon:hover{
  color: black;
  text-decoration: none;

}
#gmail{
position: relative;
right: 20%;
top: 5%;
}

#about{
position: relative;
left: 10%;
top: 5%;
}
#store{
position: relative;
left: 19%;
top: 5%;
}

#advertising{
  color: #707070;
  position: relative;
  left: 5%;
}
#HSW{
  color: #707070;
  position: relative;
  left: 15%;
}
#business{
  color: #707070;
  position: relative;
  left: 10%;
}
#privacy{
  color: #707070;
  position: relative;
  right: 15%;
}
#terms{
  color: #707070;
  position: relative;
  right: 10%;
}
#settings{
  color: #707070;
  position: relative;
  right: 5%;
}